
SourceFiles/Program
SourceFiles/a.exe
SourceFiles/a.out
SourceFiles/a.out
Documents/UML/.DS_Store
Documents/.DS_Store
.DS_Store
.DS_Store
SourceFiles/FeatureTest.cpp
xCode/TurismoDias/
SourceFiles/main
SourceFiles/main.dSYM/Contents/Resources/DWARF/main
SourceFiles/main.dSYM/Contents/Resources/DWARF/main
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
SourceFiles/main.dSYM/Contents/Info.plist
SourceFiles/FeatureTest.dSYM/Contents/Resources/DWARF/FeatureTest
SourceFiles/FeatureTest.dSYM/Contents/Info.plist
SourceFiles/FeatureTest
*.tlog
*.log
*.ilk
*.recipe
*.exe
*.idb
*.pdb
*.vsidx
*.opendb
Final/TrabajoFinalAlgoritmos/.vs/TrabajoFinalAlgoritmos/v17/.suo
*.db
*.db-shm
*.db-wal
*.obj
*.ipdb
*.iobj
*.ipch
Final/TrabajoFinalAlgoritmos/.vs/TrabajoFinalAlgoritmos/v17/.suo
*.db
*.ipch
Final/TrabajoFinalAlgoritmos/.vs/TrabajoFinalAlgoritmos/v17/.suo
Final/TrabajoFinalAlgoritmos/.vs/TrabajoFinalAlgoritmos/v17/Browse.VC.db
Final/TrabajoFinalAlgoritmos/.vs/TrabajoFinalAlgoritmos/v17/ipch/AutoPCH/37d4ef8289573b8f/CONTROLADORDATASET.ipch
Final/TrabajoFinalAlgoritmos/x64/Release/TrabajoFinalAlgoritmos.vcxproj.FileListAbsolute.txt
*.ipch
